/* html elements */

body {
    background-color: #1a1a1a;
    color: #bebebe;
}
a {
    color: #308bd8;
}
hr {
    color: #666;
    background-color: #666;
    -webkit-box-shadow: none;
}
pre {
    background-color: #222;
    border-color: #3c3c3c;
}
code {
    background-color: #222;
    border-color: #3c3c3c;
}
blockquote {
    border-color: #333;
    color: #999;
}
table {
    border-color: #3c3c3c;
}
table th {
    background-color: #222;
    border-color: #3c3c3c;
}
table td {
    border-color: #3c3c3c;
}
mark {
    background: #bc990b;
    color:#000;
}

/* unique elements */

#wrapper::-webkit-scrollbar-thumb:vertical {
    background-color: #525252;
}
#top-fader {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(26,26,26,1)), to(rgba(26,26,26,0)));
}
#bottom-fader {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(26,26,26,1)), to(rgba(26,26,26,0)));
}

/* custom formatting classes */

.shadow {
    -webkit-box-shadow: 0 2px 4px #000;
}